@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #fd2c2a; */
  transition: all cubic-bezier(0.23, 1, 0.32, 1) 1s;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

canvas {
  pointer-events: none;
}

span.growing {
  background-color: #fd2c2a;
}
#cursor{
  position:fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 7px;
  color:white;
}

